/*
color-primrario-#5EEBC3
color-secundario-#5EEB94
color-terciario-#AFEA8D
color-cuarto-#5EE3EB
*/

.header1{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-image:url(../img/Estrellas.gif);
}
#logo{
    display: flex;
    justify-content: flex-end;
    max-width: 250px;
    margin-right: 20px 0px 20px 0px;
    border-radius: 35%;
    }
 h1{
    display: flex;
    text-align: center;
    font-size: 50px;
    color: aqua;
    padding: 0px 130px 0px 0px;
}
nav ul{
background-color: #5EEBC3 ;
margin-top: 0%;
color: blueviolet;
text-decoration: none;
list-style: none;
display: flex;
flex-direction: row;
justify-content: center;
font-size: 20px;

}
nav ul li a {
    text-decoration: none;
    list-style: none;
    padding: 50px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imagen_header{
display: flex;
flex-direction: row;
height: 300px;
justify-content: center;
}
.imagen_header1{
    display: flex;
    display: flex;
    justify-content:center;
    height: 300px;
}
.iconos {
width: 200px;
display: flex;
flex-direction: row;
list-style: none;
font-size: 75px;

}
p {
    background-color: rgb(198, 206, 206);
    font-family: sans-serif;
    display: block;
   
}
.cuadricula{
display: flex;
justify-content: center;
font-size: 75px;
text-align: center;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: repeat(1, 1fr);
background-color: rgb(119, 131, 131);



}
.icono-verde{
    padding: 0;
      color: antiquewhite;
      background-color: #5EEB94;
      width: 100px;  
}
.icono-rojo{
    color: rgb(216, 23, 190);


    background-color: #5EEBC3;
    width: 100px;
}
.icono-violeta{
    color: rgb(65, 117, 22);
    background-color: #5EEB94;
    width: 100px;
}
.icono-azul{
    color: rgb(43,52, 179);
    background-color:#AFEA8D;
    width: 100px;
}
footer p{
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}